body{
    min-height: 100vh;
    background-color: #e2d5de;
}
.form-control {
    outline: 1px solid #bbb;
}

.form-control:focus {
    outline: 1px solid #bbb;

}

.form-label {
    background-color: white;
    /* padding: 1%; */
}

.image-upload>input {
    display: none;
}

.img-card{
    width: 20%;
}

#cancleBtn, #uploadBtn {
    display: none;
}